// Hide the dropdown's content by default -->
.dropdown-content {
  display: none;
}
// Show the content when hover on the container -->
.dropdown:hover .dropdown-content {
  display: block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}
