@import '~@angular/cdk/_overlay';

// Include overlay styles
@include cdk-overlay();

.ce-popover-container {

  &.ce-popover-before.ce-popover-above {
    transform-origin: right bottom;

    [dir='rtl'] & {
      transform-origin: left bottom;
    }
  }

  &.ce-popover-before.ce-popover-center {
    transform-origin: right center;

    [dir='rtl'] & {
      transform-origin: left center;
    }
  }

  &.ce-popover-before.ce-popover-below {
    transform-origin: right top;

    [dir='rtl'] & {
      transform-origin: left top;
    }
  }

  &.ce-popover-center.ce-popover-above {
    transform-origin: center bottom;
  }

  &.ce-popover-center.ce-popover-below {
    transform-origin: center top;
  }

  &.ce-popover-after.ce-popover-above {
    transform-origin: left bottom;

    [dir='rtl'] & {
      transform-origin: right bottom;
    }
  }

  &.ce-popover-after.ce-popover-center {
    transform-origin: left center;

    [dir='rtl'] & {
      transform-origin: right center;
    }
  }

  &.ce-popover-after.ce-popover-below {
    transform-origin: left top;

    [dir='rtl'] & {
      transform-origin: right top;
    }
  }

}
