<div class="full flex">
  <div class="full flex" [ngClass]="{'overlay': isPanelOpen}" (click)="closePanel()">
    <app-navbar-vertical class="aside-vertical" [ngClass]="{'folded': !isMenuPin, 'hovered': !isMenuPin && isNavbarHover}" *ngIf="isMenuOpen" (mouseenter)="hoverInNavbar()" (mouseleave)="hoverOutNavbar()"></app-navbar-vertical>
    <div class="flex-auto flex flex-col pl" [ngClass]="{'backdrop': isMenuOpen, 'pl-16': !isMenuPin && isNavbarHover}" (click)="closeMenu()">
      <app-header class="header"></app-header>
      <main class="flex-auto">
        <app-content></app-content>
      </main>
    </div>
  </div>
  <app-quick-panel *ngIf="isPanelOpen" class="quick-panel"></app-quick-panel>
</div>
