<div class="full flex">
  <div class="full flex" [ngClass]="{'overlay': isPanelOpen}" (click)="closePanel()">
    <app-navbar-vertical class="aside-vertical" [ngClass]="{'folded': !isMenuPin, 'hovered': !isMenuPin && isNavbarHover}" *ngIf="isMenuOpen" (mouseenter)="hoverInNavbar()" (mouseleave)="hoverOutNavbar()"></app-navbar-vertical>
    <div class="flex-auto flex flex-col pl" [ngClass]="{'backdrop': isMenuOpen, 'pl-16': !isMenuPin && isNavbarHover}" (click)="closeMenu()">
      <app-header class="header"></app-header>
      <div class="bg-blue-500 min-h-1/7 w-full flex flex-row justify-start items-center text-white text-2xl">
        <div class="flex flex-row px-6">
          <fa-icon class="font-bold" *ngIf="actualMenu" [icon]="actualMenu?.icon"></fa-icon>
          <p class="ml-6">{{actualMenu?.displayedName}}</p>
        </div>
      </div>
      <main class="flex-auto">
        <app-content></app-content>
      </main>
    </div>
  </div>
  <app-quick-panel *ngIf="isPanelOpen" class="quick-panel"></app-quick-panel>
</div>
