<div class="p-6">
  <div class="mb-5 flex justify-center">
    <p class="title">Change Password</p>
  </div>
  <form [formGroup]="changePasswordForm" ngxsForm="auth.changePasswordForm" (ngSubmit)="changePassword()">
    <div class="flex items-center mb-6">
      <div class="w-1/3">
        <label class="input-label" for="old-password-change-password">Old password</label>
      </div>
      <div class="w-2/3 pt-2">
        <input class="input" formControlName="oldPassword" id="old-password-change-password" type="password" placeholder="********" required>
      </div>
    </div>
    <div class="flex items-center mb-6">
      <div class="w-1/3">
        <label class="input-label" for="new-password-change-password">New password</label>
      </div>
      <div class="w-2/3">
        <input class="input" formControlName="newPassword" id="new-password-change-password" type="password" placeholder="********" required>
      </div>
    </div>
    <div class="flex items-center mb-6">
      <div class="w-1/3">
        <label class="input-label" for="confirm-password-change-password">Confirm password</label>
      </div>
      <div class="w-2/3">
        <input class="input" formControlName="confirmPassword" id="confirm-password-change-password" type="password" placeholder="********" required>
      </div>
    </div>
    <div class="flex justify-center">
      <button class="btn-red" type="submit" [disabled]="!isFormValid">Change</button>
    </div>
  </form>
</div>
<div class="p-6 flex justify-between">
  <p class="text-red-700 cursor-pointer" (click)="goToLogin()">Login</p>
</div>
