@import "tailwindcss/base";
@import "app/theme/style/font";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "app/theme/style/custom";
@import "app/theme/style/modal";
@import "app/theme/style/popover";
@import "app/theme/style/media-query/xl";
@import "app/theme/style/media-query/lg";
@import "app/theme/style/media-query/md";
@import "app/theme/style/media-query/sm";
@import "app/theme/style/media-query/xs";

:root {
  --color-primary: #6f50ff;
  --color-secondary: #7659ff;
  --color-tertiary: #6145e3;
}
